asgiref==3.8.1
astroid==3.2.2
dill==0.3.8
Django==5.0.6
isort==5.13.2
mccabe==0.7.0
pillow==10.3.0
platformdirs==4.2.2
pylint==3.2.2
pylint-celery==0.3
pylint-plugin-utils==0.8.2
sqlparse==0.5.0
tomlkit==0.12.5
